.dashboard header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 1px solid #008cba;
}
header .profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
header .logout {
  cursor: pointer;
  position: relative;
}
header .logout svg {
  margin-right: 5px;
}
header .logout count {
  background-color: red;
  color: #fff;
  border-radius: 100%;
  position: absolute;
  z-index: 999;
  padding: 0px 4px;
  font-size: 12px;
  font-weight: bold;
  bottom: 30px;
  left: -1px;
}
header h2 {
  margin: 0px 0px 0px 5px;
}
header div {
  display: flex;
  align-items: center;
}
.notification {
  border: 1px solid lightcoral;
  position: absolute;
  right: 0;
  top: 45px;
  border-radius: 10px;
  flex-direction: column;
  z-index: 1200;
  width: 300px;
  max-height: 100vh;
  overflow: scroll;
  align-items: flex-start;
  background-color: lightgreen;
}
.notification .content {
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid lightcoral;
  width: -webkit-fill-available;
  margin-bottom: 5px;
  padding: 5px;
}
.notification .content:last-child {
  border: none;
}
.notification .content div {
  margin-bottom: 5px;
}
.notification .content div:last-child {
  margin: 0px;
}
.dashboard ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  border: 1px solid #008cba
}
.dashboard ul li {
  border-bottom: 1px solid #008cba;
  padding: 2px 10px 2px 10px;
  margin: 0px 0px 2px 0px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard ul li img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.dashboard ul li div:nth-child(2) {
  text-align: right;
  display: flex;
  align-items: center;
}
.dashboard ul li:hover {
  color: coral;
}
.bottom-content {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 20px;
}
.bottom-content .form-section {
  width: 49%;
  text-align: center;
}
.bottom-content .form-section form {
  width: 100%;
}
.bottom-content .right-content {
  width: 49%;
}
.bottom-content .right-content .search input {
  width: 100%;
  height: 28px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.bottom-content .right-content svg {
  font-size: 20px;
  cursor: pointer;
  color: #008cba;
  margin-right: 20px;
}
.bottom-content form div {
  width: 100%;
  text-align: left;
}
.bottom-content form textarea {
  height: 150px;
}
.bottom-content form button {
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
}
error {
  color: red;
}
