.chat {
  width: 350px;
  background-color: #fff;
  border: 1px solid #008cba;
  margin-right:5px;
}
.chat header {
  background-color: #008cba;
  color: #fff;
  padding: 3px 5px;
  margin-bottom:5px;
}
.chat header h4 {
  padding: 0px;
  margin: 0px;
}
.chat header svg {
  cursor: pointer;
}
.chat .message-box {
  height: 300px;
  overflow-y: scroll;
}
.chat form {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  border-top: 1px solid #008cba;
}
.chat form svg {
  color: #008cba;
  margin-right: 10px;
  cursor: pointer;
  transform: rotate(56deg);
  font-size: 18px;
}
.chat form input {
  width: -webkit-fill-available;
  outline: none;
  height: 25px;
  border: none;
}
.chat .msg {
  display: flex;
  margin:0px 5px 5px 5px;
}
.chat .msg span{
  background-color: #008cba;
  color: #fff;
  padding:5px;
  border-radius: 10px;
}
.chat .rightMsg{
  display: flex;
  margin:0px 5px 5px 5px;
  flex-direction: row-reverse;
}
.chat .rightMsg span{
  background-color: coral;
  color: #fff;
  padding:5px;
  border-radius: 10px;
}