.approved{
    background: url('../../../assets/approved.png') no-repeat;
    background-position-y:center;
    background-position-x: center;
    background-size: 10%;
}
.project-details h1{
    text-align: center;
    padding:5px 0px;
    margin:0px;
}
.project-details header{
    padding:0px 20px;
    display: flex;
    border:none;
    background-color: #008CBA;
    color:#fff;
}
.project-details header button{
    color: #fff;
    border: none;
}
.project-details header .back{
    background-color: coral;
}
.project-details header .approve{
    background-color: green;
    margin-right: 10px;
}
.project-details header .reject{
    background-color: red;
}
.content{
    padding: 0px 20px;
}
.details-header{
    display: flex;
    justify-content: space-between;
}
.details-header div{
    display:flex;
    align-items: center;
}
.details-header div h3{
    margin-right:5px
}
.pdf-button{
    text-align: center;
    margin-top:20px;
}
.pdf-button button{
    border:none;
    border-radius: 10px;
    width:150px;
    background-color: #008CBA;
    color:#fff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
iframe{
    width:100%;
    height: 100%;
}
.iframe-parent{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
.close-iframe{
    background-color:#008CBA ;
    text-align: right;
}
.close-iframe svg{
    background-color: red;
    color: #fff;
    border-radius: 100%;
    padding:3px 5px;
    cursor: pointer;
}