.approved{
    background: url('../../../assets/approved.png') no-repeat;
    background-position-y:center;
    background-position-x: center;
    background-size: 10%;
}
.project-details h1{
    text-align: center;
    padding:5px 0px;
    margin:0px;
}
.project-details header{
    padding:0px 20px;
    display: flex;
    border:none;
    background-color: lightskyblue;
}
.project-details header button{
    color: #fff;
    border: none;
}
.project-details header .back{
    background-color: coral;
}
.project-details header .approve{
    background-color: green;
    margin-right: 10px;
}
.project-details header .reject{
    background-color: red;
}
.content{
    padding: 0px 20px;
}
.details-header{
    display: flex;
    justify-content: space-between;
}
.details-header div{
    display:flex;
    align-items: center;
}
.details-header div h3{
    margin-right:5px
}