.projectList ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.projectList .approved{
    background: url('../../../assets/approved.png') no-repeat;
    background-position-y: top;
    background-position-x: right;
    background-size: 10%;
}
.projectList li{
    flex-direction: column!important;
    align-items: baseline!important;
    text-align: left!important;
    border-bottom: 1px solid #ccc;
    padding: 0px 20px 5px 20px;
    cursor: pointer;
}
.projectList li div{
    text-align: left!important;
}
.projectList li:hover{
    color: unset!important;
    background-color: coral;
}
.projectList li:hover div:first-child h3{
    color: red
}
.projectList h1{
    text-align: center;
    background-color: #008CBA;
    color:#fff;
    padding: 5px 20px;
}
.projectList h1 a{
    font-size: 12px;
    float:right;
    display: flex;
    align-items: center;
    margin-top:10px;
    cursor: pointer;
    color:#fff;
}
.projectList h1 a svg{
    margin-left:10px;
}
.projectList h3{
    margin: 5px 0px 5px 0px;
}
.spinner{
    text-align: center;
}